*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --back-color:#000303;
    --text-color:#ffffff;
    --border-color:#0cb53f;
    
}

img{
    max-width:100%;
height: auto;

}

.main{
    display:flex;
    background-color: var(--back-color);
    height: 100vh;
    
}


section{
    margin-left: 20px;
    border: 1px solid #0cb53f;
    max-width: 300px;

}

.line{
    border: 2px solid #0cb53f;
    width:100px;
    margin-left: 20px;
    
}

p,h3{

color:var(--text-color);
font-family: Georgia, 'Times New Roman', Times, serif;
letter-spacing: 0.5px;
margin-left: 20px
}


h1{
    color:gold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 20px;
}


span{
    color: var(--text-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.5px;
}


@media(max-width:825px){

    .main{
        display:block;
        background-color: var(--back-color);
        min-width: 800px;
        height: 130vh;
        
    }
    p{

        color:var(--text-color);
        font-family: Georgia, 'Times New Roman', Times, serif;
        letter-spacing: 0.5px;
        margin-left: 20px;
        min-width: 100vw;
        } 
}



